.phone-table {
  border: 1px solid #d4d4d4;
  border-radius: 4px;

  &__head {
    background: #d4d4d4;
  }

  &__body {
  }

  &__column-name {
    padding: 10px;
  }

  &__cell {
    padding: 10px;
  }
}

.new-contact-form {
  &__row {
    padding: 10px 0;
  }
}