<h2>Contactos:</h2>
<table class="phone-table">
    <thead class="phone-table__head">
        <tr>
            <th class="phone-table__column-name">Nombre</th>
            <th class="phone-table__column-name">Teléfono</th>
        </tr>
    </thead>
    <tbody data-e2e="contact-list-body" class="phone-table__body">
        <tr *ngFor="let contact of contactList">
            <td class="phone-table__cell">{{ contact.name }}</td>
            <td class="phone-table__cell">{{ contact.phone }}</td>
        </tr>
    </tbody>
</table>

<h2>Añadir contacto:</h2>
<form class="new-contact-form" *ngIf="newContactFormGroup !== null" [formGroup]="newContactFormGroup" (ngSubmit)="onNewContactSubmit()">
    <div class="new-contact-form__row">
        <label>
            Nombre:
            <input data-e2e="name-input" type="text" formControlName="name">
        </label>
    </div>
    <div class="new-contact-form__row">
        <label>
            Teléfono:
            <input data-e2e="phone-input" type="number" formControlName="phone">
        </label>
    </div>
    <button data-e2e="save-contact-button" type="submit">Guardar</button>
</form>